// ------------------ partials

@import "partials/box-sizing.scss";
@import "partials/clearfix.scss";
@import "partials/reset.scss";
@import "partials/font.scss";

// ------------------ variables

$main_color: #d1d1d1;
$border_color: #a7a7a7;
$darker: darken($main_color, 30%);
$darker_boost: darken($main_color, 40%);

/* ================== Layout
*/

.page {
  margin: 10px;
  border: 2px solid $border_color;
  border-radius: 5px;
}
.page-header {
  background: $main_color;
  background: linear-gradient(to top, $main_color, #fff);
  border-bottom: 2px solid $border_color;
  border-radius: 5px;
}
.page-header__bg {
  background-color: $border_color;
}
.layout-box {
  min-height: 30px;
  line-height: 30px;
  padding: 8px 20px;
}
.layout-box--border {
  @extend .layout-box;
  border-bottom: 2px solid $border_color;
  &:last-child {
    border-bottom: none;
  }
}

/* ================== Modules
*/

/* ------------------ period-search
*/

.period-search {
  vertical-align: center;
  min-height: 23px;
  line-height: 23px;
}
.period-search__input,
.period-search__title,
.dash {
  display: inline-block;
  vertical-align: center;
  height: 23px;
  line-height: 23px;
  margin-right: 5px;
}
.period-search__input {
  width: 120px;
  font-family: 'Trebuchet MS', sans-serif;
}
.btn-wrapper {
  display: inline-block;
}

@media only screen and (max-width:530px) {
  .period-search__input,
  .period-search__title,
  .btn-wrapper {
    width: 100%;
    margin: 0;
  }
  .btn-wrapper {
    display: block;
    padding: 15px 10px 10px;
    text-align: right;
  }
}
/* ------------------ results
*/

.results {
  display: inline-block;
}
/* ------------------ mailbox
*/
.mailbox {
  width: 99%;
  margin: 0 auto;
  table-layout: fixed; /* to prevent cell to adjust to their content */
}
.mailbox__row {
  border-top: 1px solid $border_color;
  cursor: pointer;
  &:not(.mailbox__row_content):not(.mailbox__headrow):hover {
    background: linear-gradient(to top, $main_color, #fff);
  }
}
.mailbox__headrow {
  padding-left: 15px;
  border-top: none;
}
.mailbox__cell,
.mailbox__headcell {
  width: 20%;
  padding-left: 10px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &:first-of-type {
    padding-left: 15px;
  }
  &:nth-of-type(3) {
    width: 35%;
  }
  &:last-of-type {
    width: 15%;
  }
}
.mailbox__headcell {
  color: $darker_boost;
}
.mailbox__contact-pic {
  display: inline-block;
  vertical-align: text-top;
  height: 16px;
  margin-right: 2px;
}
.email__to {
  color: $darker;
}
.email__content {
  padding: 15px;
  text-indent: 15px;
}

/* ------------------ buttons
*/

.btn {
  display: inline-block;
  vertical-align: top;
  max-height: 23px;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
  &:hover .btn__sprite {
    background-image: url("../images/button_hover.png");
  }
  &:active .btn__sprite {
    background-image: url("../images/button_click.png");
  }
}
.btn__sprite {
  display: inline-block;
  vertical-align: top;
  height: 23px;
  background-image: url("../images/button_default.png");
}
.btn__sprite--left {
  @extend .btn__sprite;
  width: 5px;
  background-position: 0 -46px;
}
.btn__sprite--middle {
  @extend .btn__sprite;
  width: 70px;
  background-position: 0 -23px;
}
.btn__sprite--right {
  @extend .btn__sprite;
  width: 5px;
  background-position: 0 0;
}
.btn__img {
  display: inline-block;
  vertical-align: middle;
  max-height: 23px;
}
.btn__text {
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  line-height: 23px;
}
.btn--clear {
  display: inline-block;
  margin-left: 10px;
}
.btn-wrapper {
  display: inline-block;
}
@media only screen and (max-width:530px) {
  .btn-wrapper {
    width: 100%;
    margin: 0;
  }
  .btn-wrapper {
    display: block;
    padding: 15px 10px 10px;
    text-align: right;
  }
}

/* ================== States
*/

.hidden {
  display: none;
}
.ascending,
.unsorted {
  background: url('../images/arrow_up.png') no-repeat;
  background-position: 45px 11px;
}
.descending {
  background: url('../images/arrow_down.png') no-repeat;
  background-position: 45px 11px;
}
.email__active {
  transform: rotate(0.25turn);
  margin-right: 5px;
}

/* ------------------ mailbox empty
*/

.mailbox__empty {
  width: 99%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}
.logo {
  max-width: 100%;
  height: auto;
  margin: 14% auto;
}
