*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ------------------------------------ clearfix
*/
.group::before,
.group::after {
  content: "";
  display: table; }

.group::after {
  clear: both; }

.group {
  clear: both;
  *zoom: 1; }

/* ------------------------------------ reset
*/
/* http://meyerweb.com/eric/tools/css/reset/
   2. v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------ typo (font-size 16px)
*/
html {
  font-size: 14px; }

body {
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: lighter; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 14px; }

h4 {
  font-size: 12px; }

h5 {
  font-size: 11px; }

h6 {
  font-size: 10px; }

strong {
  font-weight: 700; }

cite, em {
  font-style: italic; }

/* ================== Layout
*/
.page {
  margin: 10px;
  border: 2px solid #a7a7a7;
  border-radius: 5px; }

.box {
  min-height: 30px;
  line-height: 30px;
  padding: 8px 20px; }

.topbox {
  background: #d1d1d1;
  background: linear-gradient(to top, #d1d1d1, #fff);
  border-bottom: 2px solid #a7a7a7;
  border-radius: 5px; }

.subox {
  border-bottom: 2px solid #a7a7a7; }
  .subox:last-child {
    border-bottom: none; }

/* ================== Modules
*/
/* ------------------ topbox content
*/
.topbox_content {
  max-height: 23px;
  line-height: 23px;
  vertical-align: center; }

.input-date,
.search-period,
.dash {
  height: 23px;
  line-height: 23px;
  vertical-align: center;
  display: inline-block;
  margin-right: 5px; }

.input-date {
  width: 120px;
  font-family: 'Trebuchet MS', sans-serif; }

.topbox_bg {
  background-color: #a7a7a7; }

/* ------------------ table
*/
.emailbox {
  width: 99%;
  margin: auto;
  table-layout: fixed; }

.emailbox_row {
  border-top: 1px solid #a7a7a7;
  cursor: pointer; }
  .emailbox_row th:first-of-type,
  .emailbox_row td:first-of-type {
    padding-left: 15px; }
  .emailbox_row td:nth-of-type(2) {
    color: #858585; }
  .emailbox_row th:nth-of-type(3),
  .emailbox_row td:nth-of-type(3) {
    width: 35%; }
  .emailbox_row th:last-of-type,
  .emailbox_row td:last-of-type {
    width: 15%; }
  .emailbox_row:first-of-type {
    border-top: none; }
  .emailbox_row:not(:first-of-type):not(.emailbox_row_content):hover {
    background: linear-gradient(to top, #d1d1d1, #fff); }

.emailbox_header {
  text-align: left;
  color: #6b6b6b; }

.emailbox_header,
.emailbox_cell {
  width: 20%;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.emailbox_addressImg {
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 2px; }

.hidden {
  display: none; }

.ascending,
.unsorted {
  background: url("../images/arrow_up.png") no-repeat;
  background-position: 45px 11px; }

.descending {
  background: url("../images/arrow_down.png") no-repeat;
  background-position: 45px 11px; }

/* ------------------ buttons
*/
.btn {
  display: inline-block;
  vertical-align: top;
  max-height: 23px;
  width: 80px;
  margin-left: 5px;
  cursor: pointer; }
  .btn:hover .btn_sprite {
    background-image: url("../images/button_hover.png"); }
  .btn:active .btn_sprite {
    background-image: url("../images/button_click.png"); }

.btn_sprite {
  background-image: url("../images/button_default.png");
  display: inline-block;
  vertical-align: top;
  height: 23px; }

.sprite_left {
  width: 5px;
  background-position: 0 -46px; }

.sprite_middle {
  width: 70px;
  background-position: 0 -23px; }

.sprite_right {
  width: 5px;
  background-position: 0 0; }

.btn_img {
  display: inline-block;
  vertical-align: middle;
  max-height: 23px; }

.btn_text {
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  line-height: 23px; }
