*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ------------------------------------ clearfix
*/
.group::before,
.group::after {
  content: "";
  display: table; }

.group::after {
  clear: both; }

.group {
  clear: both;
  *zoom: 1; }

/* ------------------------------------ reset
*/
/* http://meyerweb.com/eric/tools/css/reset/
   2. v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------ typo (font-size 16px)
*/
html {
  font-size: 14px; }

body {
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: lighter; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 14px; }

h4 {
  font-size: 12px; }

h5 {
  font-size: 11px; }

h6 {
  font-size: 10px; }

strong {
  font-weight: 700; }

cite, em {
  font-style: italic; }

/* ================== Layout
*/
.page {
  margin: 10px;
  border: 2px solid #a7a7a7;
  border-radius: 5px; }

.page-header {
  background: #d1d1d1;
  background: linear-gradient(to top, #d1d1d1, #fff);
  border-bottom: 2px solid #a7a7a7;
  border-radius: 5px; }

.page-header__bg {
  background-color: #a7a7a7; }

.layout-box, .layout-box--border {
  min-height: 30px;
  line-height: 30px;
  padding: 8px 20px; }

.layout-box--border {
  border-bottom: 2px solid #a7a7a7; }
  .layout-box--border:last-child {
    border-bottom: none; }

/* ================== Modules
*/
/* ------------------ period-search
*/
.period-search {
  vertical-align: center;
  min-height: 23px;
  line-height: 23px; }

.period-search__input,
.period-search__title,
.dash {
  display: inline-block;
  vertical-align: center;
  height: 23px;
  line-height: 23px;
  margin-right: 5px; }

.period-search__input {
  width: 120px;
  font-family: 'Trebuchet MS', sans-serif; }

.btn-wrapper {
  display: inline-block; }

@media only screen and (max-width: 530px) {
  .period-search__input,
  .period-search__title,
  .btn-wrapper {
    width: 100%;
    margin: 0; }
  .btn-wrapper {
    display: block;
    padding: 15px 10px 10px;
    text-align: right; } }

/* ------------------ results
*/
.results {
  display: inline-block; }

/* ------------------ mailbox
*/
.mailbox {
  width: 99%;
  margin: 0 auto;
  table-layout: fixed;
  /* to prevent cell to adjust to their content */ }

.mailbox__row {
  border-top: 1px solid #a7a7a7;
  cursor: pointer; }
  .mailbox__row:not(.mailbox__row_content):not(.mailbox__headrow):hover {
    background: linear-gradient(to top, #d1d1d1, #fff); }

.mailbox__headrow {
  padding-left: 15px;
  border-top: none; }

.mailbox__cell,
.mailbox__headcell {
  width: 20%;
  padding-left: 10px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .mailbox__cell:first-of-type,
  .mailbox__headcell:first-of-type {
    padding-left: 15px; }
  .mailbox__cell:nth-of-type(3),
  .mailbox__headcell:nth-of-type(3) {
    width: 35%; }
  .mailbox__cell:last-of-type,
  .mailbox__headcell:last-of-type {
    width: 15%; }

.mailbox__headcell {
  color: #6b6b6b; }

.mailbox__contact-pic {
  display: inline-block;
  vertical-align: text-top;
  height: 16px;
  margin-right: 2px; }

.email__to {
  color: #858585; }

.email__content {
  padding: 15px;
  text-indent: 15px; }

/* ------------------ buttons
*/
.btn {
  display: inline-block;
  vertical-align: top;
  max-height: 23px;
  width: 80px;
  margin-left: 5px;
  cursor: pointer; }
  .btn:hover .btn__sprite, .btn:hover .btn__sprite--left, .btn:hover .btn__sprite--middle, .btn:hover .btn__sprite--right {
    background-image: url("../images/button_hover.png"); }
  .btn:active .btn__sprite, .btn:active .btn__sprite--left, .btn:active .btn__sprite--middle, .btn:active .btn__sprite--right {
    background-image: url("../images/button_click.png"); }

.btn__sprite, .btn__sprite--left, .btn__sprite--middle, .btn__sprite--right {
  display: inline-block;
  vertical-align: top;
  height: 23px;
  background-image: url("../images/button_default.png"); }

.btn__sprite--left {
  width: 5px;
  background-position: 0 -46px; }

.btn__sprite--middle {
  width: 70px;
  background-position: 0 -23px; }

.btn__sprite--right {
  width: 5px;
  background-position: 0 0; }

.btn__img {
  display: inline-block;
  vertical-align: middle;
  max-height: 23px; }

.btn__text {
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  line-height: 23px; }

.btn--clear {
  display: inline-block;
  margin-left: 10px; }

.btn-wrapper {
  display: inline-block; }

@media only screen and (max-width: 530px) {
  .btn-wrapper {
    width: 100%;
    margin: 0; }
  .btn-wrapper {
    display: block;
    padding: 15px 10px 10px;
    text-align: right; } }

/* ================== States
*/
.hidden {
  display: none; }

.ascending,
.unsorted {
  background: url("../images/arrow_up.png") no-repeat;
  background-position: 45px 11px; }

.descending {
  background: url("../images/arrow_down.png") no-repeat;
  background-position: 45px 11px; }

.email__active {
  transform: rotate(0.25turn);
  margin-right: 5px; }

/* ------------------ mailbox empty
*/
.mailbox__empty {
  width: 99%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0; }

.logo {
  max-width: 100%;
  height: auto;
  margin: 14% auto; }
